@charset "UTF-8";

#endereco{

    position: absolute;
    width: 1388px;
    height: 32px;
    left: 17px;
    top: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0px;
    color: #555555;

}

h1 {

    color: #111111;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    width: 969px;
    height: 256px;
    left: 235px;
    top: 74px;
    border-radius: nullpx;


    }

p {

    color: #555555;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    height: 84px;
    width: 839px;
    left: 235px;
    top: 363px;
    border-radius: nullpx;


}

#autor {

    height: 20;
    width: 303px;
    left: 235px;
    top: 480px;
    border-radius: nullpx;
    font-family: Open Sans;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    position: absolute;
    color: #000000;

}

#data {

    position: absolute;
    width: 226px;
    height: 16px;
    left: 235px;
    top: 512px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;


}
#linha{

    position: absolute;
    width: 200px;
    height: 0px;
    left: 275px;
    top: 1890px;
    border: 2px solid #A6130A;
    transform: rotate(90deg);

}

#texto1 {

    position: absolute;
    width: 691px;
    height: 160px;
    left: 375px;
    top: 623px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    

}

.destaque{
    
    color: #A6130A;
}

ul{

    position: absolute;
    width: 675px;
    height: 192px;
    left: 382px;
    top: 797px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #A6130A;
    
}

#texto2{

    position: absolute;
    width: 685px;
    height: 224px;
    left: 375px;
    top: 1014px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #000000;

}

#texto3 {

    position: absolute;
    width: 683px;
    height: 128px;
    left: 375px;
    top: 1255px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    

}

#subtitulo{

    position: absolute;
    width: 422px;
    height: 32px;
    left: 375px;
    top: 1401.15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #333333;


}

h2{

    position: absolute;
    width: 437px;
    height: 36px;
    left: 375px;
    top: 1465.2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #111111;

}

#texto4{

    height: 224px;
    width: 669px;
    left: 375px;
    top: 1520px;
    border-radius: nullpx;
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333333;

}

#citacao{

    position: absolute;
    width: 665px;
    height: 252px;
    left: 389px;
    top: 1766px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #333333;
    
}


#linha2{

    position: absolute;
    width: 1020px;
    height: 0px;
    left: 210px;
    top: 554px;
    border: 1px solid #B0AFAF;

}